.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacingMedium;
}

.title {
    font-family: $fontFamilyHeddings;
    color: $textAndBorderColor;
    margin: 0;
    text-align: center;

    @media (min-width: $breakpointMedium) {
        text-align: left;
    }

    &--h1 {
        font-size: 7rem;
        margin: 10rem 0;
        position: relative;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

        @include small() {
            font-size: 12vw;
        }

        @include medium() {
            font-size: 8vw;
        }
    }

    &--h2 {
        font-size: 5rem;
        margin-bottom: $spacingMedium;

        @include small() {
            font-size: 12vw;
        }
    }

    &--h3 {
        font-size: 3rem;
        margin-bottom: 1.8rem;
    }

    &--h4 {
        margin-bottom: 1.5rem;
    }
}

@keyframes signature-animation {
    to {
        stroke-dashoffset: 0;
    }
}

.section {
    padding: $spacingMedium 0;

    @media (min-width: $breakpointMedium) {
        padding: $spacingHuge 0;
    }

    &--dark {
        background-color: $backgroundColorLight;
    }

    &--light {
        background-color: $colorLight;
        color: #000;
    }
}

.button-row {
    position: relative;
    text-align: center;
    z-index: 0;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: $spacingSmall;
    border: 1px solid black;
    font-size: 2rem;
    font-family: $fontFamilyHeddings;
    font-weight: 500;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 6rem;
        left: -6.5rem;
        top: 0;
        background: linear-gradient(to left,
                rgba(255, 255, 255, 0.315),
                transparent);
        transition: left 0.8s;
        transform: skewx(-15deg);
    }

    &:hover::after {
        left: calc(100% + 0.5rem);
    }

    &--touch {
        margin-top: $spacingSmall;
        margin-bottom: $spacingHuge;
        color: #fff;
        background-color: $backgroundColorDark;
        position: relative;
        transition: box-shadow 1s;
        overflow: visible;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.274);
        }
    }

    &__pulse {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 0.5rem solid $backgroundColorDark;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: 1.5s pulse-animation ease infinite;
        pointer-events: none;
    }

    &--social {
        width: 15rem;
    }

    &--instagram {
        background-image: linear-gradient(to top right, #ffa140, #fc3572, #a23cad);
        border-color: transparent;
    }

    &--linkedin {
        background-color: #0a66c2;
        border-color: #0a66c2;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        margin: -0.5em 0.3em -0.3em 0;
    }
}

@keyframes pulse-animation {
    from {
        height: 0;
        width: 0;
        border-color: transparentize($backgroundColorDark,0.5);
    }

    to {
        height: 21rem;
        width: 21rem;
        border-color: transparent;
    }
}