.main-menu {
    top: 0;
    position: sticky;
    text-align: center;
    white-space: nowrap;
    font-size: 2.5rem;
    font-family: $fontFamilyHeddings;
    z-index: 1000;
    background-color: $backgroundColorDark;
    padding: 1rem;
    color: $colorLight;
    width: 100%;
    overflow-x: auto;

    @include small() {
        padding: 0;
        font-size: 1.5rem;
    }

    &__list {
        padding-left: 0;
        margin: 0;

        @include small() {
            display: flex;
            padding: 1rem 0;
        }
    }

    &__item {
        display: inline;

        @include small() {
            display: inline-block;
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
        padding: 0.5rem;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid $textAndBorderColor;
            border-radius: 10px;
        }

        @include small() {
            flex: 0 0 auto;
        }
    }
}