$backgroundColorDark: #202040;
$backgroundColorLight: #dcdcf5;
$textAndBorderColor: #ff1e56;
$colorLight: white;
$breakpointSmall: 50rem;
$breakpointMedium: 93rem;
$spacingSmall: 2rem;
$spacingMedium: 5rem;
$fontFamilyBase: "Arbutus Slab", serif;
$fontFamilyHeddings: "Montserrat Alternates", sans-serif;

@mixin grid($minWidth) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
}
@mixin small() {
  @media (max-width: $breakpointSmall) {
    @content;
  }
}
@mixin medium() {
  @media (min-width: $breakpointSmall) and (max-width: $breakpointMedium) {
    @content;
  }
}
html {
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: $fontFamilyBase;
  font-size: 1.6rem;
  color: $colorLight;
  background-color: $backgroundColorDark;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $spacingMedium;
}
.title {
  font-family: $fontFamilyHeddings;
  color: $textAndBorderColor;

  &--h1 {
    font-size: 7rem;
    margin: 10rem 0;
    position: relative;
    text-shadow: 0 4px 8px rgba(0,0,0,0.8);
  }
  &--h2 {
    font-size: 5rem;
  }
  &--h3 {
    font-size: 3rem;
  }
  &--h4 {
    margin-bottom: 2rem;
  }
}
@keyframes signature-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.header {
  background-color: $backgroundColorDark;
  padding: $spacingMedium 0 0;
  position: relative;
  overflow: hidden;
  @include small() {
    margin-top: -3rem;
  }

  &__container {
    @media (min-width: $breakpointSmall) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr;
      grid-template-areas: "photo description";
      min-height: 80vh;
    }
  }
  &__photo {
    width: 100%;
    filter: drop-shadow(-3rem 0 3rem rgba(0, 0, 0, 0.3));

    @include small() {
      width: 120%;
      margin-left: -30%;
    }
    @media (min-width: $breakpointSmall) {
      position: absolute;
      bottom: 0;
      height: 100%;
      left: 0;
      object-fit: contain;
      object-position: center bottom;
    }
  }
  &__photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    grid-area: photo;
    @include small() {
      z-index: 0;
    }
  }
  &__title {
    @include small() {
      order: -1;
      margin: 0 0 -3.5rem;
      z-index: -1;
    }
  }
  &__text {
    font-size: 2rem;
    text-align: right;
    grid-area: description;
    align-self: end;
    padding-bottom: $spacingMedium;

    .title {
      font: inherit;
    }
    @include small() {
      padding: 0 3rem 1rem 3rem;
      position: absolute;
      right: 0;
      bottom: 0;
      text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
  }
  &__signature {
    width: 25rem;

    #signature {
      stroke-dasharray: 1778;
      stroke-dashoffset: 1778;
      animation: signature-animation 3s ease forwards;
    }
    @include small() {
      width: 50%;
      margin-right: -7%;
    }
  }
}
@include small() {
  .title--h1,
  .title--h2 {
    font-size: 12vw;
  }
}
@include medium() {
  .title--h1 {
    font-size: 8vw;
  }
}
.section {
  padding: $spacingMedium 0;

  &--dark {
    background-color: $backgroundColorLight;
  }
  &--light {
    background-color: $colorLight;
  }
  &--skills {
    color: $backgroundColorDark;
    padding-top: 15rem;
  }
  &--work {
    color: #000;
    padding-bottom: 10rem;
  }
}
.main-menu {
  top: 0;
  position: sticky;
  text-align: right;
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: $fontFamilyHeddings;
  z-index: 1000;
  background-color: $backgroundColorDark;
  padding: 2rem;

  &__list {
    padding-left: 0;
    margin: 0;
  }
  &__item {
    display: inline;
  }
  &__link {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid transparent;
  }
  &__link:hover {
    border: 2px solid $textAndBorderColor;
    border-radius: 10px;
  }
}
@include small() {
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "photo"
      "description";
  }
  .main-menu {
    padding: 0;

    &__list {
      display: flex;
      max-width: 100vw;
      overflow: scroll;
      padding: 2rem;
    }
    &__link {
      flex: 0 0 auto;
    }
    &__item {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
}
.experiences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 -19.25rem;
  padding: 0;
  list-style: none;
  gap: $spacingSmall;

  &__title {
    margin-top: 0;
    color: $textAndBorderColor;
  }
  &__item {
    background-color: $backgroundColorDark;
    vertical-align: middle;
    padding: $spacingSmall;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &__icon {
    display: block;
    margin-bottom: 1rem;
    width: auto;

    &--gcp {
      height: 3rem;
    }
    &--czc {
      height: 2rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
    &--pet {
      height: 3rem;
    }
    &--graduation {
      height: 4rem;
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  @media (max-width: 80rem) {
    grid-template-columns: 1fr 1fr;
  }
  @include small() {
    grid-template-columns: 1fr;
  }
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  list-style: none;
  gap: $spacingSmall;

  &__title {
    position: relative;
    text-align: center;
    margin-top: 0;
    color: $textAndBorderColor;

    &::after {
      content: "";
      display: block;
      background-color: $backgroundColorDark;
      height: 0.1rem;
      margin-top: 1.5rem;
    }
    &::before {
      content: "";
      display: block;
      background-color: $backgroundColorDark;
      border: solid 0.5rem white;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__item {
    background-color: white;
    vertical-align: middle;
    padding: $spacingSmall;
    font-size: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @media (max-width: 80rem) {
    grid-template-columns: 1fr 1fr;
  }
  @include small() {
    grid-template-columns: 1fr;
  }
}
.work {
  &__link {
    display: inline-block;
    position: relative;
    max-width: 30rem;
    @include small() {
      max-width: 100%;
    }
  }
  &__img {
    display: block;
    width: 100%;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.4);
  }
  &__overlay {
    background-color: #ffe134d7;
    font: 600 3rem $fontFamilyHeddings;
    position: absolute;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    &:hover {
      opacity: 1;
    }
  }
}
.swiper-container {
  width: 50%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  @include small() {
    width: 100%;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mySwiper2 {
  height: 80%;
  width: 60%;
  @include small() {
    width: 100%;
  }
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 1rem 0;
}
.mySwiper .swiper-slide {
  opacity: 0.4;
  &:hover {
    cursor: pointer;
  }
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.button-row {
  position: relative;
  text-align: center;
  margin-bottom: 8rem;
  z-index: 0;
}
@keyframes pulse-animation {
  from {
    height: 0;
    width: 0;
    border-color: rgba(0, 0, 0, 0.5);
  }
  to {
    height: 21rem;
    width: 21rem;
    border-color: transparent;
  }
}
.button {
  text-decoration: none;
  color: inherit;
  padding: $spacingSmall;
  border: 1px solid black;
  font-size: 2rem;
  font-family: $fontFamilyHeddings;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 6rem;
    left: -6.5rem;
    top: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.315),
      transparent
    );
    transition: left 0.8s;
    transform: skewx(-15deg);
  }
  &:hover::after {
    left: calc(100% + 0.5rem);
  }

  &--touch {
    margin-top: 2rem;
    color: black;
    background-color: #fff;
    position: relative;
    transition: box-shadow 1s;
    overflow: visible;
    &::after {
      display: none;
    }
    &:hover {
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.274);
    }
  }
  &__pulse {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: 1.5s pulse-animation ease infinite;
    pointer-events: none;
  }
  &--social {
    width: 15rem;
  }
  &--facebook {
    background-color: #1877f2;
    border-color: #1877f2;
  }
  &--instagram {
    background-image: linear-gradient(to top right, #ffa140, #fc3572, #a23cad);
    border-color: transparent;
  }
  &--linkedin {
    background-color: #0a66c2;
    border-color: #0a66c2;
  }
  &--twitch {
    background-color: #772ce8;
    border-color: #772ce8;
  }
  &--youtube {
    background-color: #f00;
    border-color: #f00;
  }
  &--inmobil {
    background-color: #ffde29;
    border: 0.5rem solid black;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    width: 25rem;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    height: 1.5em;
    margin: -0.5em 0.3em -0.3em 0;
  }
}
.footer {
  background-color: $backgroundColorDark;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;

  &__text {
    font-size: 3rem;
  }
}

@keyframes circle-animation {
  from {
    stroke-dasharray: 0 200;
  }
  to {
    stroke-dasharray: 200 0;
  }
}
@keyframes copy-animation {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: 37 33;
  }
}
.circle-jedna {
  animation: circle-animation 2s ease infinite;
}
.circle-dva {
  animation: copy-animation 2s ease infinite;
}
