html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arbutus Slab", serif;
  font-size: 1.6rem;
  background-color: #202040;
}
@media (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 2rem;
}

.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #ff1e56;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    text-align: left;
  }
}
.title--h1 {
  font-size: 7rem;
  margin: 10rem 0;
  position: relative;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
@media (max-width: 480px) {
  .title--h1 {
    font-size: 12vw;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .title--h1 {
    font-size: 8vw;
  }
}
.title--h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
@media (max-width: 480px) {
  .title--h2 {
    font-size: 12vw;
  }
}
.title--h3 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}
.title--h4 {
  margin-bottom: 1.5rem;
}

@keyframes signature-animation {
  to {
    stroke-dashoffset: 0;
  }
}
.section {
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .section {
    padding: 8rem 0;
  }
}
.section--dark {
  background-color: #dcdcf5;
}
.section--light {
  background-color: white;
  color: #000;
}

.button-row {
  position: relative;
  text-align: center;
  z-index: 0;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 2rem;
  border: 1px solid black;
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
}
.button::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 6rem;
  left: -6.5rem;
  top: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.315), transparent);
  transition: left 0.8s;
  transform: skewx(-15deg);
}
.button:hover::after {
  left: calc(100% + 0.5rem);
}
.button--touch {
  margin-top: 2rem;
  margin-bottom: 8rem;
  color: #fff;
  background-color: #202040;
  position: relative;
  transition: box-shadow 1s;
  overflow: visible;
}
.button--touch::after {
  display: none;
}
.button--touch:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.274);
}
.button__pulse {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid #202040;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: 1.5s pulse-animation ease infinite;
  pointer-events: none;
}
.button--social {
  width: 15rem;
}
.button--instagram {
  background-image: linear-gradient(to top right, #ffa140, #fc3572, #a23cad);
  border-color: transparent;
}
.button--linkedin {
  background-color: #0a66c2;
  border-color: #0a66c2;
}
.button__icon {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  margin: -0.5em 0.3em -0.3em 0;
}

@keyframes pulse-animation {
  from {
    height: 0;
    width: 0;
    border-color: rgba(32, 32, 64, 0.5);
  }
  to {
    height: 21rem;
    width: 21rem;
    border-color: transparent;
  }
}
.header {
  background-color: #202040;
  padding: 3rem 0 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 480px) {
  .header {
    margin-top: -3rem;
  }
}
@media (max-width: 480px) {
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "photo" "description";
  }
}
@media (min-width: 480px) {
  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "photo description";
    min-height: min(80vh, 80rem);
  }
}
.header__photo {
  width: 100%;
  filter: drop-shadow(-3rem 0 3rem rgba(0, 0, 0, 0.3));
}
@media (max-width: 480px) {
  .header__photo {
    width: 120%;
    margin-left: -30%;
  }
}
@media (min-width: 480px) {
  .header__photo {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}
.header__photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  grid-area: photo;
}
@media (max-width: 480px) {
  .header__photo-container {
    z-index: 0;
  }
}
@media (max-width: 480px) {
  .header__title {
    order: -1;
    margin: 0 0 -3.5rem;
    z-index: -1;
  }
}
.header__text {
  font-size: 2rem;
  text-align: right;
  grid-area: description;
  align-self: end;
  padding-bottom: 3rem;
}
.header__text .title {
  font: inherit;
}
@media (max-width: 480px) {
  .header__text {
    padding: 0 3rem 1rem 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}
.header__signature {
  width: 25rem;
}
.header__signature #signature {
  stroke-dasharray: 1778;
  stroke-dashoffset: 1778;
  animation: signature-animation 3s ease forwards;
}
@media (max-width: 480px) {
  .header__signature {
    width: 50%;
    margin-right: -7%;
  }
}

.main-menu {
  top: 0;
  position: sticky;
  text-align: center;
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: "Montserrat Alternates", sans-serif;
  z-index: 1000;
  background-color: #202040;
  padding: 1rem;
  color: white;
  width: 100%;
  overflow-x: auto;
}
@media (max-width: 480px) {
  .main-menu {
    padding: 0;
    font-size: 1.5rem;
  }
}
.main-menu__list {
  padding-left: 0;
  margin: 0;
}
@media (max-width: 480px) {
  .main-menu__list {
    display: flex;
    padding: 1rem 0;
  }
}
.main-menu__item {
  display: inline;
}
@media (max-width: 480px) {
  .main-menu__item {
    display: inline-block;
  }
}
.main-menu__link {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid transparent;
}
.main-menu__link:hover {
  border: 2px solid #ff1e56;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .main-menu__link {
    flex: 0 0 auto;
  }
}

.section--about p:last-of-type {
  margin-bottom: 0;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 0;
  list-style: none;
}
.experiences__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .experiences__item {
    flex-direction: row;
    gap: 5rem;
  }
}
.experiences__item img {
  width: 100%;
}
.experiences__company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .experiences__company {
    width: 100rem;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .skills {
    gap: 5rem;
  }
}
.skills__item {
  width: 5rem;
}
@media (min-width: 768px) {
  .skills__item {
    width: 10rem;
  }
}
.skills__item img {
  width: 100%;
  height: auto;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.work__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .work__item {
    flex-direction: row;
  }
}
.work__link {
  display: inline-block;
  position: relative;
  max-width: 100%;
  order: 2;
}
@media (min-width: 768px) {
  .work__link {
    order: unset;
    max-width: 35%;
  }
}
.work__img {
  display: block;
  width: 100%;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
}
.work__overlay {
  font: 600 3rem "Montserrat Alternates", sans-serif;
  position: absolute;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
}
.work__overlay:hover {
  opacity: 1;
}
.work__overlay--inmobil {
  background-color: rgba(255, 225, 52, 0.8666666667);
}
.work__overlay--frontendistka {
  background-color: rgba(32, 32, 64, 0.8666666667);
}
.work__overlay--kacafoti {
  background-color: rgba(255, 102, 102, 0.8666666667);
}

.swiper-container {
  width: 50%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 100%;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mySwiper2 {
  height: 80%;
  width: 60%;
}
@media (max-width: 480px) {
  .mySwiper2 {
    width: 100%;
  }
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 1rem 0;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}
.mySwiper .swiper-slide:hover {
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.footer {
  background-color: #202040;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: white;
}
.footer__text {
  font-size: 3rem;
}/*# sourceMappingURL=styles.css.map */