.work {
    display: flex;
    flex-direction: column;
    gap: $spacingLarge;



    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacingLarge;

        @media (min-width: $breakpointMedium) {
            flex-direction: row;
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        max-width: 100%;
        order: 2;

        @media (min-width: $breakpointMedium) {
            order: unset;
        }

        img {
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
        }
    }

    &__description {
        @media (min-width: $breakpointMedium) {
            max-width: 60%;
        }
    }

    &__overlay {
        font: 600 3rem $fontFamilyHeddings;
        position: absolute;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
        display: flex;
        color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1s;

        &:hover {
            opacity: 1;
        }

        &--inmobil {
            background-color: #ffe134dd;
        }

        &--frontendistka {
            background-color: #202040dd;
        }

        &--kacafoti {
            background-color: #ff6666dd;
        }
    }
}