<section class="section section--light section--about" id="about">
  <div class="container">
    <h2 class="title title--h2">O mně</h2>
    <p>
      Ahoj, jmenuji se Kačka a jsem nadšená frontend vývojářka. Vždycky mě
      fascinovala krása digitálního světa a možnosti, které nabízí. Ve své práci
      kombinuji svou vášeň pro technologie s kreativitou, což mi umožňuje
      vytvářet atraktivní a funkční webové stránky.
    </p>
    <p>
      Vývoj webu mě přitahoval už od první chvíle, kdy jsem začala objevovat,
      jak internet funguje. Byla jsem fascinovaná tím, jak může být webová
      stránka vytvořena od nuly a jak se z jednoduchého kódu stane plně funkční
      a vizuálně přitažlivý produkt. Jako frontend vývojářka mám možnost
      vytvářet interaktivní uživatelské zážitky, které jsou intuitivní a
      esteticky příjemné. Miluji ten pocit, kdy vidím, jak moje práce ožívá a
      jak může pozitivně ovlivnit uživatele.
    </p>
    <p>
      Mým cílem je neustále se rozvíjet a zdokonalovat své dovednosti ve vývoji
      webu. Sleduji nejnovější trendy a technologie, abych mohla svým klientům
      nabídnout ty nejlepší možné řešení. V budoucnu bych se ráda zaměřila na
      vytváření udržitelných a přístupných webových aplikací, které budou
      sloužit širokému spektru uživatelů. Také mě láká možnost spolupráce na
      projektech, které mají pozitivní dopad na společnost a životní prostředí.
      Chci být součástí týmu, který přináší inovativní a smysluplné řešení.
    </p>
  </div>
</section>
