---
import { certificates } from "../data/certificates";
---

<section class="section section--certificates section--dark" id="certificates">
  <div class="container">
    <h2 class="title title--h2">Kurzy &amp; certifikáty</h2>
    <div
      style="
        --swiper-navigation-color: #000;
        --swiper-pagination-color: #000;
      "
      class="swiper swiper-container mySwiper2"
    >
      <div class="swiper-wrapper">
        {
          certificates.map((certificate) => (
            <div class="swiper-slide">
              <img src={certificate.image} alt={certificate.imageAlt} />
            </div>
          ))
        }
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {
          certificates.map((certificate) => (
            <div class="swiper-slide">
              <img src={certificate.image} alt={certificate.imageAlt} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
