<section class="section section__contacts section--dark" id="contact">
  <div class="container">
    <h2 class="title title--h2">Kontakt</h2>
    <div class="button-row">
      <a class="button button--touch" href="mailto:katerina.beranova4@gmail.com"
        ><img
          class="button__icon button__icon--send"
          src="svg/send.svg"
          alt=""
          aria-hidden="true"
        />
        <span class="button__pulse" aria-hidden="true"></span> Get in touch</a
      >
    </div>
    <div class="button-row">
      <a
        class="button button--social button--instagram"
        href="https://www.instagram.com/kaca_hoffman/">Instagram</a
      >
      <a
        class="button button--social button--linkedin"
        href="https://www.linkedin.com/in/katerinaberanova/">LinkedIn</a
      >
    </div>
  </div>
</section>
