---
import { experiences } from "../data/experience";
---

<section class="section section--light" id="experiences">
  <div class="container">
    <h2 class="title title--h2">Pracovní zkušenosti</h2>
    <div class="experiences">
      {
        experiences.map((experience) => (
          <div class="experiences__item">
            <div class="experiences__company">
              <img src={experience.logo} alt={experience.company} />
              <div class="experiences__period">{experience.period}</div>
            </div>
            <div class="experiences__description">
              {experience.description.map((paragraph) => (
                <p>{paragraph}</p>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
