<header class="header" id="home">
  <div class="container header__container">
    <div class="header__photo-container">
      <img class="header__photo" src="images/headerphoto.webp" alt="" />
      <h1 class="header__title title title--h1">Kateřina<br />Hoffman</h1>
    </div>
    <div class="header__text">
      <img class="header__signature" src="images/signature_white.png" alt="" />
      <h2 class="title title--h2">- frontend vývojářka a fotografka</h2>
    </div>
  </div>
</header>
