<nav class="main-menu" aria-label="Hlavní navigace">
  <ul class="main-menu__list">
    <li class="main-menu__item">
      <a class="main-menu__link" href="#top">Domů</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#about">O mně</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#experiences">Zkušenosti</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#skills">Dovednosti</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#work">Moje tvorba</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#certificates">Vzdělávání</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="#contact">Kontakt</a>
    </li>
  </ul>
</nav>
