---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<section class="section section--work work section--light" id="work">
  <div class="container">
    <h2 class="title title--h2">Moje tvorba</h2>
    <div class="work">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</section>
