---
import { skills } from "../data/skills";
---

<section class="section section--skills section--dark" id="skills">
  <div class="container">
    <h2 class="title title--h2">Dovednosti</h2>
    <ul class="skills">
      {
        skills.map((skill) => (
          <li class="skills__item">
            <img src={skill.icon} alt={skill.name} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
