---
import "../styles/styles.scss";
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Kateřina Hoffman" />
    <meta
      property="og:description"
      content="Kateřina Hoffman - frontend developer"
    />
    <meta name="description" content="Kateřina Hoffman - frontend developer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#ff1e56" />
    <meta
      property="og:image"
      content="https://frontendistka.cz/images/preview.png"
    />
    <meta property="og:url" content="https://frontendistka.cz" />
    <meta property="og:type" content="website" />
    <meta name="msapplication-TileColor" content="#ff1e56" />
    <meta name="theme-color" content="#ffffff" />
    <title>Kateřina Hoffman</title>
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QP1RN9LBMR"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QP1RN9LBMR");
    </script>
  </head>
  <body id="top">
    <slot />
    <script src="../scripts/certificates.ts"></script>
  </body>
</html>
